pre {
    display: block;
    font-size: 87.5%;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}

code, kbd, pre, samp {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,liberation mono,courier new,monospace;
    font-size: 1em;
}
